@model IEnumerable<ProjetoBackend.Models.Categoria>

@{
    ViewData["Title"] = "Categoria de Produtos";
}

<h1>Categoria de Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-primary">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
