@{
    ViewData["Title"] = "Sobre a Equipe";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bryan – O Líder, Bryan é a força motriz do nosso time. Com uma habilidade única para unir
    pessoas e direcionar o grupo para alcançar objetivos ambiciosos,
    ele mantém todos motivados e focados. Sua liderança é marcada pela empatia,
    visão estratégica e pela confiança que deposita em cada membro da equipe.
</p>

<p>
    João – O Criativo João transforma qualquer ideia em algo visualmente deslumbrante.
    Com um olhar artístico único, ele é o responsável por toda a parte de design,
    garantindo que tudo o que fazemos tenha uma identidade forte e atraente.
    Seu talento transforma ideias em experiências visuais memoráveis.
</p>

<p>
    Tiago – O Estrategista, Se existe alguém que pode transformar ideias em planos
    concretos, essa pessoa é Tiago. Ela é a mestre da organização e planejamento,
    garantindo que tudo aconteça no prazo certo e da melhor maneira possível.
    Com uma visão clara e objetiva, Tiago mantém o grupo no caminho certo.
</p>
